/* Configuração base para o Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para o projeto Claudia Festas */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}