/* Configuração base para o Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para o projeto Claudia Festas */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea {
  color: #1f2937;
}

input::placeholder,
textarea::placeholder {
  color: #4b5563;
  opacity: 1;
}
